<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Player Stats</title>
    <link rel="stylesheet" href="../addstats.css">
</head>
<body>
        <button class="homebtn">
        <a href="/home?username=<%= username %>&token=<%= token %>">Home</a>
        </button>
    <div class="container">
        <h1>Stat for <%= username %></h1>
        <form action="/savestat" method="POST">
            <div class="form-group">
                <label for="Player">Player:</label>
                <input hidden type="text" id="Player" name="Player" value="<%= username%>" required>
                <input hidden type="text" id="Token" name="token" value="<%= token%>" required>
                <input type="text" id="Player" name="Player" disabled value="<%= username%>" required>
            </div>
            <div class="form-group">
                <label for="gameDate">Game Date:</label>
                <input type="date" id="gameDate" name="gameDate" required>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" required>
            </div>
            <div class="form-group">
                <label for="opponent">Opponent:</label>
                <input type="text" id="opponent" name="opponent" required>
            </div>
            <div class="form-group">
                <label for="outcome">Outcome:</label>
                <select id="outcome" name="outcome" required>
                    <option value="win">Win</option>
                    <option value="loss">Loss</option>
                    <option value="draw">Draw</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pointsScored">Points Scored:</label>
                <input type="number" id="pointsScored" name="pointsScored" required>
            </div>
            <div class="form-group">
                <label for="assists">Assists:</label>
                <input type="number" id="assists" name="assists" required>
            </div>
            <div class="form-group">
                <label for="rebounds">Rebounds:</label>
                <input type="number" id="rebounds" name="rebounds" required>
            </div>
            <div class="form-group">
                <label for="steals">Steals:</label>
                <input type="number" id="steals" name="steals" required>
            </div>
            <div class="form-group">
                <label for="blocks">Blocks:</label>
                <input type="number" id="blocks" name="blocks" required>
            </div>
            <div class="form-group">
                <label for="fouls">Fouls:</label>
                <input type="number" id="fouls" name="fouls" required>
            </div>
            <button type="submit" class="savestat">Save Stats</button>
        </form>
    </div>
</body>
</html>

