<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Stats</title>
    <link rel="stylesheet" href="../mystat.css">
</head>
<body>
    <header>
        <h1 id="user-name"></h1>
            <nav>
                <button class="homebtn">
                <a href="/home?username=<%= username %>&token=<%= token %>">Home</a>
                </button>
            </nav>
    </header>
    <button class="addnewbtn">
        <a href="/addstats/<%= username %>?token=<%= token %>">Add New Stat</a>
    </button>
    
    <div id="stats-container">
    <div id="token-data" data-username="<%= username %>" data-token="<%= token %>"></div>
    </div>
    <script src="../posts.js"></script>
</body>
</html>
